.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  position: relative;
  top: -30px;
  background: url("../public/assets/images/book.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  color: white;
  vertical-align: top;
  padding: 30px;
  h1{
      margin: 50px 0;
      font-size: 40px;
  }

  &-input {
    background-color: #fff;
   

  }

  &-inputs-block {
    margin-top: 20px;
  
  }

  &-input-block {
    margin-left: 20px;
    height: 30px;
    color: #000 !important;
  }

  #fullWidth {
    background-color: #fff;
  }
}
